# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/

# Environment Variables
.env

# Bot specific databases
*.db
*.sqlite3

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Logs
*.log
